
body{
	background-color: #ced4da;
}
.mainDiv{
	width: 500px;
	height: 500px;
	border: 3px solid grey;
	position: relative;
	top: 10%;
	left: 30%;
	background-color: #FFF;
}
.content{
	padding: 10px;
}
.result{
	height: 70px;
}
.customBtn{
	width: 80%;
}
.margin-top-10{
	margin-top: 10px;
}