.node,.child{
  border: 2px solid black;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  width: 8rem;
  height: 7rem;
  background-color: grey;
  text-align: center;
  padding-top: 1.25rem;
  z-index: 10;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.hrline{
  border-left: 4px solid black;
  height: 7rem;
  margin-left: 2rem;
}
.vrline{
  border-top: 4px solid black;
  border-left: 4px solid black;
  width: 9rem;
  margin-left: 2.95rem;
}
.child{
      position: relative;
      bottom: 50%;
      left: -10%;
}
.newHeight{ 
   height: 14rem;
 }