h1,h2,h3,h4,h5,h6 {
  font-family: fantasy;
    font-display: block;
    font-size:15;
    font-weight:10;
    margin: 5px 0 5px 10px;
    }
div .NamePlace{
    display: inline;
}
h1{
    color: red;
    
}
h2{
    color:blue;
    
}
h3{
    color:greenyellow;
    
}
h4{
    color: coral;
    
}
h5{
    color: yellowgreen;
    
}
h6{
    color: blueviolet;
    
}
table{
    margin-left: 10px;
    color:blue;
    border-color: darkgrey;
    border: 5px;
        background-image:url(friendsbg.jpg);
    border-collapse: separate;
    border-color: chartreuse;
}
div .data{
    margin-left: 10px;
}
.form-group{
    margin-left: 10px;
}